<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.samsung.goal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GOAL"
        tools:targetApi="31">
        <activity
            android:name=".TimeManagementIsEffectiveActivity"
            android:exported="false" />
        <activity
            android:name=".TimeManagementLessonActivity"
            android:exported="false" />
        <activity
            android:name=".FinishAttentionLessonActivity"
            android:exported="false" />
        <activity
            android:name=".AttentiveManFasterActivity"
            android:exported="false" />
        <activity
            android:name=".AttentiveManActivity"
            android:exported="false" />
        <activity
            android:name=".AttentionIsAProcessActivity"
            android:exported="false" />
        <activity
            android:name=".AttentionLessonActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".NameActivity" />
        <activity android:name=".DiagnosActivity" />
        <activity android:name=".NotifyActivity" />
        <activity android:name=".FineActivity" />
        <activity android:name=".PayAttentionActivity" />
        <activity android:name=".DifficultiesActivity" />
        <activity android:name=".ListenActivity" />
        <activity android:name=".LoosingActivity" />
        <activity android:name=".QuiteActivity" />
        <activity android:name=".KeepAttentionActivity" />
        <activity android:name=".ThanksActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".LessActivity" />
        <activity
            android:name=".ListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoalActivity" />
        <activity android:name=".CreateGoalActivity" />
    </application>

</manifest>